.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card__name-like {
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
}
.card__name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffff;
  padding: 2px 12px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.6);
}
.card__image {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 325px;
  height: 328px;
  object-fit: cover;
}
.card__like-button {
  width: 18px;
  height: 15px;
  margin-left: 10px;
  cursor: pointer;
}
